@model DoctorSkin.Models.Products

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Products</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.namep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.namep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.typep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.typep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.newprice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.newprice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.oldprice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.oldprice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.descr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.date_create)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.date_create)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.hide)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hide)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.statep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.statep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.img)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.img)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
