@model DoctorSkin.Models.BlogDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BlogDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.idbt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idbt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.shortcontent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.shortcontent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.date_up)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.date_up)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cardimg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cardimg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.hideblog)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hideblog)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.contentblog)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.contentblog)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.metablog)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.metablog)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idb }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
