@model IEnumerable<DoctorSkin.Models.Vouchers>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.namevc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valuevc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dasudung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datefrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hidevc)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.namevc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valuevc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dasudung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datefrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hidevc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idvoucher }) |
                @Html.ActionLink("Details", "Details", new { id=item.idvoucher }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idvoucher })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
