@model DoctorSkin.Models.ServicesDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ServicesDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name_sd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name_sd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.img_sd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.img_sd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.hide_sd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hide_sd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.price_sd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.price_sd)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_sd }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
